# Node
node_modules/*
npm-debug.log


# DO NOT IGNORE TYPESCRIPT FILES FOR NPM
# TypeScript
# *.js
# *.map
# *.d.ts

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# VS Code
.vscode/*

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store


e2e/*
*.bat
docs/*


nbproject
manifest.mf
build.xml
*.ts
!*.d.ts
tests
.github
coverage
!*.metadata.json
!bundles/*.js
*.ngFactory.ts